<!DOCTYPE html>
<html lang="en">
<head>
    <title>Productos</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<style>
  .product-card {
    margin-bottom: 30px;
    transition: transform 0.3s ease; /* Transición suave para el efecto */
}
.product-card:hover {
    transform: scale(1.05); /* Efecto de agrandamiento */
}
.product-img {
    height: 200px;
    object-fit: cover;
}
.product-price {
    font-weight: bold;
}
.card-title, .card-text {
    margin-bottom: auto;
}
.btn {
    margin-top: auto;
    width: 100%;
}
</style>
</head>
<body>
    {% include 'header.html'%}
    {% include 'navbar.html'%}    
  
  

    <main class="col">
      {% if busqueda %}
      <h2 style="margin-left: 10%;">Resultados de la búsqeda ({{num}})</h2>

      {% else %}
      <h2 style="margin-left: 10%;">Productos en la categoria {{object}}</h2>

      {% endif %}
      <div class="border border-3 border-dark" style="margin-left: 10%; margin-right: 10%"></div>
      <br>
      <div class="form" style="margin-left: 10%;">
      <a>{{form.precio_maximo}}</a>-<a>{{form.precio_minimo}}</a>{{form.provincia}}  

      </form>
      </div>
      <div class="container mt-5">

        <div class="row">
            {% for product in productos %}
            <div class="col-md-4">
              <div class="card product-card">
                  <img src="{{product.imagen.url}}" class="card-img-top product-img" alt="Imagen del Producto 1">
                  <div class="card-body">
                      <h5 class="card-title">{{product.nombre}}</h5>
                      <p class="product-price">{{product.precio}}</p>
                      <a href="{% url 'product_detail' pk=product.pk%}" class="btn btn-primary">Ver más</a>
                  </div>
              </div>
          </div>
            {% endfor %}
          </div> <!-- row end.// -->
  
  
          <nav class="mt-4" aria-label="Page navigation sample">
  
            {% if product.has_other_pages %}
            <ul class="pagination">
              {% if product.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ product.previous_page_number }}">Anterior</a></li>
              {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
              {% endif %}
  
              {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
              {% endfor %}
  
              {% if products.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{product.next_page_number}}">Siguiente</a></li>
              {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Siguiente</a></li>
              {% endif %}
            </ul>
            {% endif %}
  
          </nav>
  
        </main> <!-- col.// -->
  </div>
      </div>
  
    </div>
  </section>
    </main>
</div>

        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
       
    </body>
</html>